<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhu.dao.VehicleDao">
    <select id="getVehicleModel" resultType="java.lang.String">
        SELECT distinct vehiclemodel
        FROM "TAB_VEHICLEIINFO"
    </select>
    <select id="getVehicleFactory" resultType="java.lang.String">
        SELECT distinct VENDORS
        FROM "TAB_VEHICLEIINFO"
    </select>
    <select id="getVehicleSim" resultType="java.lang.String">
        SELECT distinct GPSID
        FROM "TAB_VEHICLEIINFO"
    </select>
    <select id="getVehicleType" resultType="java.lang.String">
        select distinct VEHICLETYPE
        from "TAB_VEHICLEIINFO"
    </select>
    <select id="getVehicleBase" resultType="com.hhu.model.VehicleBase">
        select
        id,
        vehiclemodel,
        vehicletype,
        vehicleid,
        engineid,
        rackid,
        gpsid,
        buyways,
        to_char(purchasedate,'yyyy-MM-dd')as purchasedate,
        vehicleowners,
        onlinestate,
        to_char(rectime,'yyyy-MM-dd HH:mm:ss') as rectime,
        vendors
        from "TAB_VEHICLEIINFO"
        WHERE 1=1
        <if test="type != null and type !=''">
            AND vehicletype = '${type}'
        </if>
        <if test="model!=null and model!=''">
            AND vehiclemodel = '${model}'
        </if>
        <if test="id != null and id !=''">
            AND vehicleid = '${id}'
        </if>
        <if test="rackid !=null and rackid !=''">
            AND rackid = '${rackid}'
        </if>
        <if test="vendors!=null and vendors!=''">
            AND vendors = '${vendors}'
        </if>
        <if test="sim != null and sim !=''">
            AND gpsid = '${sim}'
        </if>
        <if test="vehicleowners !=null and vehicleowners !=''">
            AND vehicleowners = '${vehicleowners}'
        </if>
    </select>
    <select id="getVehicleDetail" parameterType="java.lang.String" resultType="com.hhu.model.VehicleDetail">
        select id,
               vehicleid,
               fengsu,
               fengji,
               jingdu,
               weidu,
               zhugougaodu,
               fugougaodu,
               dachexingcheng,
               xiaochexingcheng,
               zhugouzaihe,
               fugouzaihe,
               zhugoudianliu,
               fugoudianliu,
               xiaochedianliu,
               zhugoudianya,
               fugoudianya,
               xiaochedianya,
               zhugoupinlv,
               fugoupinlv,
               xiaochepinlv,
               leijigongzuo,
               leijigongzuoliang,
               zhugoubaojing,
               fugoubaojing,
               dachebaojing,
               xiaochebaojing,
               zhugouyunxing,
               fugouyunxing,
               dacheyunxing,
               xiaocheyunxing,
               bangzhanyunxing,
               rectime,
               zhugougaodualarm,
               fugougaodualarm,
               dachexingchengalarm,
               xiaochexingchengalarm,
               zhugoufuhealarm,
               fugoufuhealarm,
               do0,
               do1,
               do2,
               do3,
               do4,
               do5,
               do6,
               do7,
               do8,
               do9,
               workmap
        from "TAB_CARINFO"
        WHERE id = '${id}'
    </select>

</mapper>
