<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>起重机械智能监控系统</title>
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" href="css/view.css">
</head>
<body>
<!-- wrap - begin -->
<div class="view-wrap">
	<!-- head -->
	<div class="view-head">
		<!-- head-side _left -->
		<div class="head-side _left">
			<ul class="head-menu">
				<li id="menu-1" class="active">设 备<i class="layui-icon layui-icon-triangle-d"></i></li>
				<li id="menu-2" class="li-pop">坐 标<i class="layui-icon layui-icon-triangle-d"></i></li>
				<li id="menu-3" class="li-pop">项 目<i class="layui-icon layui-icon-triangle-d"></i></li>
			</ul>
		</div>
		<!-- head-title -->
		<div class="head-title">起重机械智能监控系统</div>
		<!-- head-side _right -->
		<div class="head-side _right">
			<ul class="layui-nav">
	  			<li class="layui-nav-item">
					<a href="javascript:;">
		  				<img src="img/img_ico_file.png">
					</a>
	  			</li>
	  			<li class="layui-nav-item">
					<a href="javascript:;">
		  				<img src="img/img_ico_user.png">
					</a>
	  			</li>
	  			<li class="layui-nav-item">
					<a href="javascript:;">
		  				<img src="img/img_ico_yq.png">
					</a>
	  			<li class="layui-nav-item">
					<a href="javascript:;">
		  				<img src="img/img_ico_help.png">
					</a>
	  			</li>
				<li class="layui-nav-item item-user">
					<a href="javascript:;">
						<img src="img/img_uh.png" class="layui-nav-img">admin
					</a>
					<dl class="layui-nav-child">
						<dd><a href="">用户信息</a></dd>
						<dd><a href="">修改密码</a></dd>
						<dd><a href="">退出</a></dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
	<!-- view-body -->
	<div class="view-body _bg">
		<!-- side_right begin -->
		<div class="body-side _right">
			<!-- box - 设备工作时间 -->
			<div class="div-box">
				<div class="box-head">
					<div class="box-title">设备工作时间</div>
				</div>
				<div class="layui-tab layui-tab-brief tab-block" lay-filter="switch1">
					<ul class="layui-tab-title">
						<li class="layui-this">架桥机</li>
						<li>龙门吊</li>
						<li>流动式<br>起重机</li>
						<li>桥面吊</li>
						<li>塔吊</li>
						<li>其他</li>
					</ul>
				</div>
				<div class="layui-tab layui-tab-brief tab-date" lay-filter="switch2">
					<ul class="layui-tab-title">
						<li class="layui-this">今天</li>
						<li>本周</li>
						<li>本月</li>
						<li>本年</li>
					</ul>
				</div>
				<div class="box-body">
					<div id="table"></div>
				</div>
			</div>
		<!-- side_right end -->
		</div>
		<!-- side left -->
		<div class="body-side _left">
			<!-- 工程设备一览 && 设备分类统计 -->
			<div class="div-box _row">
				<!-- 工程设备一览 -->
				<div class="box-col">
					<div class="box-head">
						<div class="box-title">工程设备一览</div>
					</div>
					<div class="box-body">
						<div class="layui-form align-center">
							<div class="layui-inline" style="width:80px">
								<select  lay-filter="select1">
									<option value="0">权限管理</option>
									<option value="1">选项一</option>
									<option value="2">选项二</option>
									<option value="3">选项三</option>
								</select>
							</div>
							<div class="layui-inline" style="width:80px">
								<select lay-filter="select2">
									<option value="0">项目类型</option>
									<option value="1">选项一</option>
									<option value="2">选项二</option>
									<option value="3">选项三</option>
								</select>
							</div>
						</div>
						<ul class="ul-list">
							<li>
								<img src="img/icon_01.png">
								<span>在线工程<br><em class="color-yellow">1200</em></span>
							</li>
							<li>
								<img src="img/icon_02.png">
								<span>竣工工程<br><em class="color-blue">1200</em></span>
							</li>
							<li>
								<img src="img/icon_03.png">
								<span>工程合计<br><em class="color-green">1200</em></span>
							</li>
						</ul>
					</div>
				</div>
				<!-- 设备分类统计 -->
				<div class="box-col">
					<div class="box-head">
						<div class="box-title">设备分类统计</div>
					</div>
					<div class="box-body">
						<ul class="ul-list">
							<li><img src="img/icon_sb1.png">
								<span>架桥机</span>
								<em>1200</em>
							</li>
							<li><img src="img/icon_sb2.png">
								<span>龙门吊</span>
								<em>1200</em>
							</li>
							<li><img src="img/icon_sb3.png">
								<span>流动式起重机</span>
								<em>1200</em>
							</li>
							<li><img src="img/icon_sb4.png">
								<span>桥面吊</span>
								<em>1200</em>
							</li>
							<li><img src="img/icon_sb5.png">
								<span>塔吊</span>
								<em>1200</em>
							</li>
							<li><img src="img/icon_sb6.png">
								<span>其他</span>
								<em>22</em>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 设备分类统计 -->
			<div class="div-box _space-10">
				<div class="box-head">
					<div class="box-title">设备分类统计</div>
				</div>
				<div class="box-body">
					<div class="layui-tab tab-chart" lay-filter="switch3">
						<ul class="layui-tab-title">
							<li class="layui-this">在线</li>
							<li>累计</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div class="chart" id="chart_l1_a"></div>
							</div>
							<div class="layui-tab-item">
								<div class="chart" id="chart_l1_b"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 故障统计 -->
			<div class="div-box _space-10">
				<div class="box-head">
					<div class="box-title">故障统计</div>
				</div>
				<div class="box-body">
					<div class="layui-tab tab-chart" lay-filter="switch4">
						<ul class="layui-tab-title">
							<li class="layui-this">今日</li>
							<li>一周</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<div class="chart" id="chart_l2_a"></div>
							</div>
							<div class="layui-tab-item" id="chart_l2_b">
								<div class="chart" id="chart_l2_b"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- main -->
		<div class="body-main">
			<div class="main-title"><i class="layui-badge-dot"></i>南京市总览</div>
			<!-- map -->
			<div id="map" class="div-map">
				<img src="img/map01.png" style="max-width:100%">
			</div>
		</div>
	</div>
	<!-- view-nav -->
	<div class="view-nav">
		<a href="javascript:;" class="nav-title">导航</a>
		<ul>
			<li class="li-1 active"><a href="index.html">平台首页</a></li>
			<li class="li-2"><a href="page_2.html">设备总览</a></li>
			<li class="li-3"><a href="javascript:;">设备定位</a></li>
			<li class="li-4"><a href="javascript:;">报警查询</a></li>
			<li class="li-5"><a href="javascript:;">设备登记</a></li>
			<li class="li-6"><a href="javascript:;">远程维护</a></li>
			<li class="li-7"><a href="javascript:;">历史检索</a></li>
			<li class="li-8"><a href="javascript:;">报表统计</a></li>
			<li class="li-9"><a href="javascript:;">资产管理</a></li>
		</ul>
	</div>
<!-- wrap - end -->
</div>
<script src="layui/layui.js"></script>
<script src="js/echarts/echarts.min.js"></script>
<script src="js/global.js"></script>
<script>
let charts_data = {
	'#chart_l1_a': {
		color: ['#069bca','#019cfb'],
		xAxis: [{
			type: 'category',
            axisLabel: {
                interval: 0,
                rotate: 20,
            },
			data: ['架桥机','龙门吊','流动式起重机','桥面吊','塔吊','其他']
		}],
		yAxis: [{
			type: 'value',
		}],
		series: [{
			type: 'line',
			data: [1800,2000,2200,2100,2000,2000]
		},{
			type: 'bar',
			itemStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(1, 157, 254,1)'
                }, {
                    offset: 1,
                    color: 'rgba(1, 157, 254,0)'
                }])
			},
			data: [1800,2000,2200,2100,2000,2050]
		}]
	},
	'#chart_l1_b': {
		color: ['#069bca','#019cfb'],
		xAxis: [{
			type: 'category',
            axisLabel: {
                interval: 0,
                // rotate: 20,
            },
			data: ['架桥机','龙门吊','流动式起重机','桥面吊','塔吊','其他']
		}],
		yAxis: [{
			type: 'value',
		}],
		series: [{
			type: 'line',
			data: [1800,2000,2200,2100,2000,2050]
		},{
			type: 'bar',
			itemStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(1, 157, 254,1)'
                }, {
                    offset: 1,
                    color: 'rgba(1, 157, 254,0)'
                }])
			},
			data: [1800,2000,2200,2100,2000,2050]
		}]
	},
	'#chart_l2_a': {
		color: ['#40dfef'],
		title: {
			text: '今日发生告警项目共{a|10}个',
			left: 'center',
			textStyle: {
				color: '#fff',
				rich: {
					a: {
						color: '#EA3058',
						fontWeight: 'bold',
						fontSize: 20,
					}
				}
			}
		},
		xAxis: [{
			type: 'category',
			boundaryGap: false,
			data: ['00:00','02:00','04:00','06:00','08:00','10:00']
		}],
		yAxis: [{
			type: 'value'
		}],
		series: [{
			type: 'line',
			areaStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(67, 235, 250,0.8)'
                }, {
                    offset: 1,
                    color: 'rgba(67, 235, 250,0)'
                }])
            },
			data: [2,3,3,4,3,4,3,5,6]
		}]
	},
	'#chart_l2_b': {
		color: ['#40dfef'],
		title: {
			text: '今日发生告警项目共{a|11}个',
			left: 'center',
			textStyle: {
				color: '#fff',
				rich: {
					a: {
						color: '#EA3058',
						fontWeight: 'bold',
						fontSize: 20,
					}
				}
			}
		},
		xAxis: [{
			type: 'category',
			boundaryGap: false,
			data: ['00:00','02:00','04:00','06:00','08:00','10:00']
		}],
		yAxis: [{
			type: 'value'
		}],
		series: [{
			type: 'line',
			areaStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                    offset: 0,
                    color: 'rgba(67, 235, 250,0.8)'
                }, {
                    offset: 1,
                    color: 'rgba(67, 235, 250,0)'
                }])
            },
			data: [2,3,3,4,3,4,3,5,6]
		}]
	},
}
H.element.on('tab(switch1)',function(){
	H.msg(this.innerHTML)
});
H.element.on('tab(switch2)',function(){
	H.msg(this.innerHTML)
});
H.element.on('tab(switch3)',function(d){
	let id = ['#chart_l1_a','#chart_l1_b'][d.index];
	H.charts_setData(id,charts_data);
});
H.element.on('tab(switch4)',function(d){
	let id = ['#chart_l2_a','#chart_l2_b'][d.index];
	H.charts_setData(id,charts_data);
});

H.charts_setData('#chart_l1_a',charts_data);
H.charts_setData('#chart_l2_a',charts_data);

H.form.on('select(select1)',function(d){
	console.log(d.value)
	H.msg(d.value)
})
H.form.on('select(select2)',function(d){
	console.log(d.value)
})
H.table.render({
	// url: '/',
	loading: false,
	elem: '#table',
	height:'full-312',
	even: true,
	limit: 20,
	cols: [[
		{type: 'numbers',title: '序号'},
		{field: 'id',title: 'id',hide:true},
		{field: 'col_1',title: '龙门吊',templet: templet_col1},
		{field: 'col_2',title: '安装完成时间'},
		{field: 'col_3',title: '累计工作时间'},
		{field: 'col_4',title: '工作循环'},
		{field: 'col_5',title: '转场次数'}
	]],
	data: [
		{
			'id':'10001',
			'col_1': '1000T流动式架桥机',
			'col_2': '2020-12-08',
			'col_3': '15小时',
			'col_4': '22',
			'col_5': '55',
		},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
		{'id':'10002', 'col_1': '1000T流动式架桥机', 'col_2': '2020-12-08', 'col_3': '15小时', 'col_4': '22', 'col_5': '55'},
	],
	done: function(){
	}
});

function templet_col1(d){
	let em = '<em class="layui-badge-dot"></em>';
	if(d.LAY_INDEX%2 == 0){
		em = '<em class="layui-badge-dot layui-bg-green"></em>'
	}
	return em + d.col_1
}

$('#menu-1').click(function(){
	location.href = 'index.html'
})
$('#menu-2').click(function(){
	H.openSide({
		title: '坐标选择',
		content: 'sidebar content'
	});
})
$('#menu-3').click(function(){
	H.open({
		title: '项目筛选',
		content: 'index_open.html'
	});
})

</script>
</body>
</html>