<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>起重机智能监控云服务平台 - 登录</title>
	<link rel="stylesheet" href="layui/css/layui.css">
	<link rel="stylesheet" href="css/login.css">
</head>
<body>
<div class="login-wrap">
	<div class="login-logo"></div>
	<div class="login-main">
		<p>
			<label class="login-username">
				<i class="layui-icon layui-icon-username"></i>
				<input type="text" class="layui-input" placeholder="请输入您的用户名">
			</label>
			<label class="login-password">
				<i class="layui-icon layui-icon-password"></i>
				<input type="password" class="layui-input" placeholder="请输入您的密码">
			</label>
			<label class="layui-form login-vercode">
				<i class="layui-icon layui-icon-vercode"></i>
				<img src="img/img_vercode.png">
			</label>
			<a href="javascript:;" class="login-btn">登 录</a>
		</p>
		<span class="layui-form">
			<input type="checkbox" title="记住密码" lay-skin="primary">
		</span>
		<span>
			<a href="javascript:;" class="text-link">忘记密码？</a>
		</span>
	</div>
</div>
<script src="layui/layui.js"></script>
<script>
document.querySelector('.login-btn').onclick = function(){
	window.location.href = 'index.html'
}
</script>
</body>
</html>